body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 100px 1fr 50px 50px;
    grid-template-areas: 
    "navbar navbar navbar"
    "header header header"
    "main main main"
    "form form form"
    "footer footer footer"
    ;
}
nav {
    background-color: orange;
    grid-area: navbar;
}
header {
    background-color: aqua;
    grid-area: header;
}
aside {
    background-color: blueviolet;
    grid-area: aside;
    display: none;
}
main {
    background-color: yellow;
    grid-area: main;
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.Barras_progreso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.Nen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
progress {
    width: 70%;
    animation: control 5s linear;
}

@keyframes control {
    0% {
        width : 0%;
    }
    100% {
        width: 70%;
    }
}
form {
    grid-area: form;
    background-color: blue;
}
footer {
    background-color: green;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes img {
    padding: 2px;
    width: 40px;
    background-color: green;
}

