:root {
    --main-primary-color: rgb(0,68,0);
    --secondary-font-color: rgb(167, 11, 11);
    font-size: 16px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 200px 1fr 1fr 50px;
    grid-template-areas: 
    "navbar navbar navbar"
    "header header header"
    "main main main"
    "form form form"
    "footer footer footer";
    background-color: var(--secondary-font-color);
}
nav {
    background-color: var(--main-primary-color);
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .Izquierda {
    color: var(--secondary-font-color);
  }

.navbar .Derecha .campos_importantes {
    color: var(--secondary-font-color);
    text-decoration: none;
    font-size: 1rem;
    display: none;
}
header {
    grid-area: header;
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

picture {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
}
main {
    grid-area: main;
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}
.corousel-links {
    display: flex;
    justify-content: center;
  }

  .carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 10px;
  }

  .carousel-slide > div {
    width: 100%;
    background-color: rgb(68,68,68);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-slide {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .carousel-slide img {
    width: 100%;
    height: 100%;
  }
.Barras_progreso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.Nen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
progress {
    width: 70%;
    animation: control 5s linear;
}

@keyframes control {
    0% {
        width : 0%;
    }
    100% {
        width: 70%;
    }
}
form {
    grid-area: form;
    width: 90%;
    margin: 0 auto;
}

.escrituras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.botones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-primary-color);
}

.redes img {
    padding: 2px;
    width: 40px;
}

@media screen and (min-width: 768px){
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }
    .navbar .Derecha .campos_importantes {
        color: var(--secondary-font-color);
        text-decoration: none;
        font-size: 1rem;
        display: inline;
    }
    
  }